<li class="{{if chef.hereToday '' 'not-cooking'}}">
  {{#link-to 'chefs.chef' chef.id}}{{chef.name}}{{/link-to}}
  {{#if chef.hereToday}}
    <button {{action 'exit' chef}}>Exit</button>
  {{else}}
    <button {{action 'enter' chef}}>Enter</button>
  {{/if}}
</li>

