<div class="chef-item {{if chef.hereToday '' 'not-cooking'}}">
  <div {{action 'toggleOpen'}}>{{chef.name}}<span class="pull-right">{{if isOpen 'V' '>'}}</span></div>
  {{#if isOpen}}
    <div class="description">{{chef.description}}</div>
    {{#link-to 'chefs.chef' chef.id}}<button>Show page</button>{{/link-to}}
    <button {{action 'toggleAvailability' chef}}>
      {{if chef.hereToday 'Exit' 'Enter'}}
    </button>
  {{/if}}
</div>

