<h1>Editing a Restaurant</h1>

<p>Name: {{input value=model.restaurant.name}}</p>

<h3>Current Chefs</h3>
<ul>
  {{#each model.restaurant.chefs as |chef|}}
    <li>
      {{chef.name}}
      <button {{action 'removeChef' chef}}>Remove</button>
    </li>
  {{/each}}
</ul>
<h3>Other Chefs</h3>
<ul>
  {{#each otherChefs as |chef|}}
    <li>
      {{chef.name}}
      <button {{action 'addChef' chef}}>Add</button>
    </li>
  {{/each}}
</ul>
<button {{action 'save'}}>Save</button>
