<h1>{{model.name}}</h1>
<p>{{model.description}}</p>
<p>Currently working at: {{model.restaurant.name}}</p>
{{icon-image model.imageUrl}}<br>
{{link-to 'Edit this chef' 'chefs.chef.edit' model.id}}
<button {{action 'destroyItem' model}}>Fire</button>
