<h1>Chef Tracker</h1>
<p>{{availableChefs.length}} of our {{totalChefCount}} are cooking right now!</p>
<p>Our {{model.length}} chefs teach {{totalStudents}} students.</p>
<ul>
  {{#each model as |chef|}}
    {{#if chef.hereToday}}
      <li class="cooking">
        {{chef.name}}
        <button {{action 'exit' chef}}>Exit</button>
      </li>
    {{else}}
      <li class="not-cooking">
        {{chef.name}}
        <button {{action 'enter' chef}}>Enter</button>
        <button {{action 'destroyItem' chef}}>Fire</button>
      </li>
    {{/if}}
    Number of students:
    <button {{action 'decrementStudents' chef}}>-</button>
    {{chef.students}}
    <button {{action 'incrementStudents' chef}}>+</button>
  {{/each}}
</ul>
<hr>
{{input value=newItem}}
<button {{action 'saveNewItem'}}>Save</button>
