<h1>Chef Tracker</h1>
<p>Is your favorite {{name}} cooking right now?</p>
<p>Find out with <strong>Chef Tracker</strong>, the hottest new {{name}}-tracking app on the market.</p>
<p>We know some {{name}}s are better than others, so we want to tell you who's cooking at our restaurant right now.
  Is it your favorite {{name}}? Then maybe you should visit!</p>
<hr>
{{input value=name}}
